nav{
    display: flex;
    align-items: center;
    background: yellowgreen;
    padding: 0.5em;
}

.logo{
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    margin-right: 0.3em;
}

.counter{
    background: #dbdbdb;
    padding: 0.3em 0.6em;
    border-radius: 50%;
}